.env
.env.local
Homestead.json
Homestead.yaml
/node_modules
npm-debug.log
/laravel-echo-server.lock
php_errors.log
.phpunit.result.cache
/public/hot
/public/storage
*~Stashed changes
/storage/*.key
/vendor
yarn-error.log
